{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block extracss %}
<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="{%static '/css/Sidebar.css'%}">
{% endblock %}

<!-- This jquery library is importnat. With this you can do the below "getJSON" jQuery  -->

<body>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div>
              <div class="sb-sidenav-menu-heading"></div><a class="nav-link active" href="{% url 'registrar_datos' %}">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-plus-circle"
                    style="padding-right: 5px;"></i>Registrar nuevos datos</button>
              </a>
            </div>
            <div>
              <div class="sb-sidenav-menu-heading">
                <p>Filtros</p>
              </div>
            <form method = "POST">
              {% csrf_token %}
              
              <div class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                <span>Municipios<p>{{form.municipioCreador}}</p></span>
              </div>


              <div class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                <span>Nombre Creador <p>{{form.nombre}}</p></span>
              </div>

              <div class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                <button class="btn"><i class="fa"
                  style="padding-right: 5px;" type="submit"></i>Filtrar</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small"><span style="font-family: Montserrat, sans-serif;">Usuarioss : {{user}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="layoutSidenav_content">
      <div class="card text-dark bg-light shadow p-3 bg-light" style="font-family: Montserrat;">
        <div class="card-header" style="background-color: #A71E1C; color: white;"><b>Registro de Datos Históricos de Asistencias: {{ museo.count }}</b> 
          </div>
        
        <div class="card-body">
          <div class="album py-3 bg-light">

            <div class="row">
                {% for museo in museos %}
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-body d-flex flex-column justify-content-between p-4">
                      <h5 class="card-title">{{ museo.nombre_museo }}</h5>
                      <p class="card-text">{{ museo.responsable_informacion }}</p>
                      <div class="d-flex">
                        <a href="#" class="btn btn-sm btn-primary">Ver</a>
                        <a href="#" class="btn btn-sm btn-primary">Editar</a>
                        <a href="#" class="btn btn-sm btn-primary">Asistencias</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              
              </div>
              

              </div>
            
          </div>

          
        </div>
      </div>
    </div>
  </div>



</body>
{% endblock %}