{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block extracss %}

<link rel="stylesheet" href="{%static '/css/Sidebar.css'%}">
<link rel="stylesheet" href="{%static '/css/google_map.css'%}">
<link rel="stylesheet" href="{%static '/css/vista_detallada2.css'%}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style>
  html,
  body,
  .container-fluid {
    height: 100%;
  }

  .row {
    display: flex;
    height: 100%;
  }

  .col-md-2.sidebar-container {
    overflow-y: auto;
  }

  .col-md-10 {
    overflow-y: auto;
  }
</style>
<script type="module">
  function initMap() {

    const position =  { lat: {{ casa.ubicacion.y }}, lng: {{ casa.ubicacion.x }} }
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: position,
    });
    

    const infoWindow = new google.maps.InfoWindow({
        maxWidth: 500,
    });

    const contentString = 
    '<div id="content">' +
    '<div id="siteNotice">' +
    "</div>" +
    '<h5 id="firstHeading" class="firstHeading">{{ casa.nombreCasa }}</h5>' +
    '<div id="bodyContent">' +
    '<p><a href="https://www.google.com/maps/search/?api=1&query={{ casa.ubicacion.y }},{{ casa.ubicacion.x }}" target="_blank">' +
    "Abrir en Google Maps </a> "+
    "</div>" + 
    "</div>";


    // Create an info window to share between markers.

    const marker = new google.maps.Marker({
        position,
        map,
        optimized: false,
    });

    marker.addListener("click", () => {
        infoWindow.close();
        infoWindow.setContent(contentString);
        infoWindow.open(marker.getMap(), marker);
    });
  }
  
  window.initMap = initMap;
</script>

{% endblock %}

<!-- This jquery library is importnat. With this you can do the below "getJSON" jQuery  -->

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar-container">
        <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div>
              <div class="sb-sidenav-menu-heading"></div>
              <a class="nav-link active d-flex justify-content-center" href="{% url 'registrar_casa' %}">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-plus-circle"
                    style="padding-right: 5px;"></i>Nueva Casa/Centro Cultural</button>
                
              </a>
              <a class="nav-link active d-flex justify-content-center" href="{% url 'casas' %}">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-eye"
                    style="padding-right: 5px;"></i>Casas/Centros</button>
                
              </a>
              <hr>
              <a class="nav-link active d-flex justify-content-center" href="{% url 'editar_casa' casa.id %}">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-pen-square"
                    style="padding-right: 5px;"></i>Editar</button>
                
              </a>
              <a class="nav-link active d-flex justify-content-center" href="{% url 'eliminar_casa' casa.id %}">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-trash"
                    style="padding-right: 5px;"></i>Eliminar</button>
                
              </a>
            </div>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small"><span style="font-family: Montserrat, sans-serif;">Logged as : {{user}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card text-dark border-0 bg-light shadow p-3 bg-light" style="font-family: Montserrat;">
        <div class="card-header" style="background-color: #A71E1C; color: white;"><b>Datos detallados de Casa/Espacio Cultural</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="project-info-box mt-0">
                <h5>{{ casa.nombreCasa }} </h5>
              </div><!-- / project-info-box -->
              <div class="project-info-box">
                <table class="table table-hover">
                  <tr>
                    <td><b>Datos generales:</b></td>
                    <td>{{ casa.datosGenerales }}</td>
                  </tr>
                  <tr>
                    <td><b>Dirección:</b></td>
                    <td>{{ casa.direccion }}</td>
                  </tr>
                  <tr>
                    <td><b>Municipio:</b></td>
                    <td>{{ casa.get_municipioCasa_display }}</td>
                  </tr>
                </table>

                <div class="mt-4" id="map" style="width: 100%; height: 450px;">
                  <script
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6p6Bxcj8qBAaHvd7UDvX1bSwy0jmcNjM&callback=initMap&v=weekly"
                  defer
                  ></script>
                </div>
                
              </div><!-- / project-info-box -->
            </div><!-- / column -->
            <div class="col-md-5">
              {% if casa.imagen %}
                <img src="{{ casa.imagen.url }}" alt="project-image" class="img-fluid rounded">
              {% endif %}
            </div><!-- / column -->
        </div>    
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

