{% extends 'base.html' %}
{% load static %}



{% block content %}
{% block extracss %}

<link rel="stylesheet" href="{%static '/css/Sidebar.css'%}">
<link rel="stylesheet" href="{%static '/css/google_map.css'%}">
<link rel="stylesheet" href="{%static '/css/vista_detallada2.css'%}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% endblock %}

<!-- This jquery library is importnat. With this you can do the below "getJSON" jQuery  -->

<body>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div>
              <div class="sb-sidenav-menu-heading"></div>
              <a class="nav-link active" href="/institutos_culturales/exposiciones/registrar_exposicion">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-plus-circle"
                    style="padding-right: 5px;"></i>Nueva exposicion</button>
              </a>
              <a class="nav-link active" href="#">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-pen-square"
                    style="padding-right: 5px;"></i>Editar</button>
              </a>
              <a class="nav-link active" href="#">
                <div class="sb-nav-link-icon"></div><button class="btn"><i class="fa fa-trash"
                    style="padding-right: 5px;"></i>Eliminar</button>
              </a>
            </div>
            
            
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small"><span style="font-family: Montserrat, sans-serif;">Usuario : {{user}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="layoutSidenav_content">
      <div class="card text-dark bg-light shadow p-3 bg-light" style="font-family: Montserrat;">
        <div class="card-header" style="background-color: #A71E1C; color: white;"><b>Producción Editorial</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="project-info-box mt-0">
                <h3>{{ produccioninst.nombreProduccionInst }}</h3>
              </div>
              <div class="project-info-box">
                <p><b>Género de Producción: </b>{{ produccioninst.get_generoProduccionInst_display }}</p>
                <p><b>Disciplina de Producción: </b> {{ produccioninst.disciplinaProduccionInst }} </p> 
                    <p><b>Cantidad o Tiraje: </b> {{ produccioninst.cantidadTirajeInst }} </p>
                    <p><b>Institución Responable de la Exposición: </b> {{ produccioninst.institucionResponsableProduccionInst }} </p>
                <!-- Datos de elaboración -->
                    <p><b>Publicación: </b> {{ produccioninst.fechaDePublicacion }} </p>
                <!-- Datos del autor de la publicación -->
                <p><b>Nombre de Autor(es): </b> {{ produccioninst.nombreAutorInst }} </p>
                <p><b>Procedencia del Autor: </b> {{ produccioninst.procedenciaAutorInst }} </p>
                <p><b>No. Autores Hombres: </b> {{ produccioninst.numeroAutoresHombresInst }} </p>
                <p><b>FNo. Autores Mujeres: </b> {{ produccioninst.numeroAutoresMujeresInst }} </p>
                <!-- Datos extras -->
                <p><b>Fuente de Información: </b> {{ produccioninst.fuenteInformacionProduccionInst }} </p>
                <p><b>Observaciones: </b> {{ produccioninst.observacionesProduccionInst }} </p>
                <p><b>Evidencias: </b> {{ produccioninst.evidenciasProduccion }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>



</body>
{% endblock %}