{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/Sidebar.css' %}">
<link rel="stylesheet" href="{% static '/css/google_map.css' %}">
<link rel="stylesheet" href="{% static '/css/vista_detallada2.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style>
  html,
  body,
  .container-fluid,
  .row,
  .col-md-2,
  .col-md-10 {
    height: auto;
  }
  .break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }
</style>
{% endblock %}

<!-- This jquery library is important. With this, you can use the "getJSON" jQuery function below. -->

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar-container">
        <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div>
                <div class="sb-sidenav-menu-heading"></div>
                <a class="nav-link active custom-link custom-link" href="/creadores/registrar_creador/">
                  <div class="sb-nav-link-icon"></div>
                  <button class="btn"><i class="fa fa-plus-circle" style="padding-right: 5px;"></i>Registrar nuevo Taller</button>
                </a>
              </div>
              <hr>
              <div>
                <a class="nav-link active custom-link" href="{% url 'editar_taller' taller.id %}">
                  <div class="sb-nav-link-icon"></div>
                  <button class="btn"><i class="fa fa-pen-square" style="padding-right: 5px;"></i>Editar Taller</button>
                </a>
                <a class="nav-link active custom-link" href="{% url 'eliminar_taller' taller.id %}">
                  <div class="sb-nav-link-icon"></div>
                  <button class="btn"><i class="fa fa-trash" style="padding-right: 5px;"></i>Eliminar Taller</button>
                </a>
              </div>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small"><span style="font-family: Montserrat, sans-serif;">Logged as: {{ user }}</span></div>
          </div>
        </div>
      </div>
  <div class="col-md-10">
        <div class="card text-dark border-0 bg-light shadow p-3 bg-light" style="font-family: Montserrat;">
          <div class="card-header" style="background-color: #A71E1C; color: white;"><b>Datos detallados del Taller</b></div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="project-info-box mt-0">
                  <h5 style="font-weight: bold;">{{ taller.nombreTaller }}</h5>
                </div><!-- / project-info-box -->
                <div class="project-info-box">
                  <table class="table table-hover">
                    <tr>
                      <td><b>Modalidad:</b></td>
                      <td>{{ taller.get_modalidadTaller_display }}</td>
                    </tr>
                    <tr>
                      <td><b>Nivel:</b></td>
                      <td>{{ taller.get_nivelTaller_display }}</td>
                    </tr>
                    <tr>
                      <td><b>Género:</b></td>
                      <td>{{ taller.get_generoTaller_display }}</td>
                    </tr>
                    <tr>
                      <td><b>Disciplina:</b></td>
                      <td>{{ taller.disciplinaTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Conduccion:</b></td>
                      <td>{{ taller.get_conduccionTaller_display }}</td>
                    </tr>
                    <tr>
                      <td><b>Cobertura:</b></td>
                      <td>{{ taller.coberturaTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Institución Responsable:</b></td>
                      <td>{{ taller.institucionResponsableTaller}}</td>
                    </tr>
                    <tr>
                      <td><b>Foro o Espacio:</b></td>
                      <td>{{ taller.foroEspacioTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Municipio:</b></td>
                      <td>{{ taller.get_municipioTaller_display }}</td>
                    </tr>
                    <tr>
                      <td><b>Localidad:</b></td>
                      <td>{{ taller.localidadTaller }}</td>
                    </tr>

                    <tr>
                      <td><b>Frecuencia:</b></td>
                      <td>{{ taller.get_frecuenciaTaller_display }}</td>
                    </tr>

                    <tr>
                      <td><b>Fecha de Realización:</b></td>
                      <td>{{ taller.fechaRealizacionTaller }}</td>
                    </tr>
                  </table>
                </div><!-- / project-info-box -->
              </div><!-- / column -->
              <div class="col-md-6">
                <div class="project-info-box mt-0">
                  <h5 style="font-weight: bold;"> Datos sobre Asistencias</h5>
                </div><!-- / project-info-box -->
                <div class="project-info-box">
                  <table class="table table-hover">
                    <tr>
                      <td ><b>Instriuctor(es):</b></td>
                      <td class="break-word">{{ taller.nombreInstructorTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Procedencia:</b></td>
                      <td>{{ taller.procedenciaInstructorTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Niños:</b></td>
                      <td>{{ taller.ninosTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Niñas:</b></td>
                      <td>{{ taller.ninasTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Jovenes Hombres:</b></td>
                      <td>{{ taller.jovenesHombresTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Jovenes Mujeres:</b></td>
                      <td>{{ taller.jovenesMujeresTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Adultos Hombres:</b></td>
                      <td>{{ taller.adultosHombresTaller}}</td>
                    </tr>
                    <tr>
                      <td><b>Adultos Mujeres:</b></td>
                      <td>{{ taller.adultosMujeresTaller }}</td>
                    </tr>
                  </table>
                </div><!-- / project-info-box -->
                <div class="project-info-box mt-0">
                  <h5 style="font-weight: bold;">Datos extras</h5>
                </div><!-- / project-info-box -->
                <div class="project-info-box">
                  <table class="table table-hover">
                    <tr>
                      <td><b>Fuente de Información:</b></td>
                      <td class="break-word">{{ taller.fuenteInformacionTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Observaciones:</b></td>
                      <td class="break-word">{{ taller.observacionesTaller }}</td>
                    </tr>
                    <tr>
                      <td><b>Enlace de evidencias:</b></td>
                      <td class="break-word">{{ taller.evidenciasTaller }}</td>
                    </tr>
                    
                  </table>
                </div><!-- / project-info-box -->
              </div><!-- / column -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
